/Release/

/Debug/
/DEBUG_BOOT/
/.idea/**
/cmake-build-debug/
/cmake-build-debug_boot/
.DS_Store
/BOOT/
.settings/language.settings.xml
/BOOT_DEBUG/
/usr/tests/nbo_ceedling/build/


.tags_sorted_by_file
.tags
Nbo_band_firmware.sublime-project
Nbo_band_firmware.sublime-workspace


nbo_fw_key
settings.json
build
.vscode
